<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name="com.example.notes.MyApp"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.Default">
        <activity
            android:name="com.example.notes.ui.SplashScreenActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.notes.ui.MainActivity"
            android:exported="false"
            android:screenOrientation="fullSensor">
        </activity>
    </application>

</manifest>